﻿@model IEnumerable<Epicode_S6_L1_BackEnd.Models.Azienda>

@{
    ViewBag.Title = "ListaAzienda";
}

<div class="container body-content">
    <div class="row">
        <div>
            <h2 class="text-center">Lista delle Aziende</h2>
        </div>
        <div class="text-right mt-3 mb-3">
            <a href="@Url.Action("AggiungiAzienda", "Azienda")" class="btn btn-primary">Aggiungi Azienda</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Partita IVA</th>
                <th>Indirizzo Sede</th>
                <th>Citta Sede</th>
                <th>Gestione</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var utente in Model)
            {
                <tr>
                    <td>@utente.Id</td>
                    <td>@utente.Nome</td>
                    <td>@utente.PartitaIVA</td>
                    <td>@utente.IndirizzoSede</td>
                    <td>@utente.CittaSede</td>
                    <td>@utente.Gestione</td>
                    <td class="d-flex justify-content-evenly">
                        @Html.ActionLink("Modifica", "ModificaAzienda", "Azienda", new { Id = utente.Id }, new { @class = "btn btn-warning btn-sm" })
                        <form action="@Url.Action("EliminaAzienda", "Azienda")" method="post">
                            @Html.Hidden("Id", utente.Id)
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
