﻿@model IEnumerable<Epicode_S6_L1_BackEnd.Models.Utente>

@{
    ViewBag.Title = "ListaUtente";
}

<div class="container body-content">
    <div class="row">
        <div>
            <h2 class="text-center">Lista degli utenti</h2>
        </div>
        <div class="text-right mt-3 mb-3">
            <a href="@Url.Action("AggiungiUtente", "Utente")" class="btn btn-primary">Aggiungi Utente</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Codice Fiscale</th>
                <th>Luogo Di Nascita</th>
                <th>Residenza</th>
                <th>Data Di Nascita</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var utente in Model)
            {
                <tr>
                    <td>@utente.Id</td>
                    <td>@utente.Nome</td>
                    <td>@utente.Cognome</td>
                    <td>@utente.CodiceFiscale</td>
                    <td>@utente.LuogoDiNascita</td>
                    <td>@utente.Residenza</td>
                    <td>@utente.DataDiNascita</td>
                    <td class="d-flex justify-content-evenly">
                        @Html.ActionLink("Modifica", "ModificaUtente", "Utente", new { Id = utente.Id }, new { @class = "btn btn-warning btn-sm" })
                        <form action="@Url.Action("EliminaUtente", "Utente")" method="post">
                            @Html.Hidden("Id", utente.Id)
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
