﻿@model IEnumerable<Epicode_S6_L1_BackEnd.Models.Spedizione>

@{
    ViewBag.Title = "ListaSpedizione";
}

<div class="container body-content">
    <div class="row">
        <div>
            <h2 class="text-center">Lista delle spedizioni</h2>
        </div>
        <div class="text-right mt-3 mb-3">
            <a href="@Url.Action("AggiungiSpedizione", "Spedizione")" class="btn btn-primary">Aggiungi Spedizione</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>UtenteId</th>
                <th>AziendaId</th>
                <th>Nome Destinatario</th>
                <th>Indirizzo Destinazione</th>
                <th>Citta Destinazione</th>
                <th>Costo</th>
                <th>Peso in KG</th>
                <th>Data Spedizione</th>
                <th>Data Stiamata Consegna</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var spedizione in Model)
            {
                <tr>
                    <td>@spedizione.Id</td>
                    <td>@spedizione.UtenteId</td>
                    <td>@spedizione.AziendaId</td>
                    <td>@spedizione.NomeDestinatario</td>
                    <td>@spedizione.IndirizzoDestinazione</td>
                    <td>@spedizione.CittaDestinazione</td>
                    <td>@spedizione.Costo</td>
                    <td>@spedizione.PesoKg</td>
                    <td>@spedizione.DataSpedizione</td>
                    <td>@spedizione.DataStimataConsegna</td>
                    <td class="d-flex justify-content-evenly">
                        @Html.ActionLink("Modifica", "ModificaSpedizione", "Spedizione", new { Id = spedizione.Id }, new { @class = "btn btn-warning btn-sm" })
                        <form action="@Url.Action("EliminaSpedizione", "Spedizione")" method="post">
                            @Html.Hidden("Id", spedizione.Id)
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
